.advantages {
  position: relative;
  background-color: @block-bg-color;
  overflow: hidden;
}

.advantages__desc {
  padding-top: 42px;
  padding-bottom: 28px;
  background-color: @base-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__desc {
    padding-top: 52px;
    padding-bottom: 60px;
  }
}

.advantages::before {
  position: absolute;
  top: 236px;
  content: "";
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 33px solid @block-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .advantages::before {
    position: absolute;
    top: 238px;
    content: "";
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 55px solid @block-bg-color;
  }
}

@media (min-width: @breakpoint-desktop) {
  .advantages::before {
    position: absolute;
    top: 162px;
    content: "";
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 87px solid @block-bg-color;
  }
}

.advantages::after {
  content: "";
  position: absolute;
  bottom: -52px;
  left: 51%;
  transform: translateX(-50%);
  width: 160px;
  height: 330px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-width: @breakpoint-tablet) {
  .advantages::after {
    content: "";
    position: absolute;
    bottom: 342px;
    left: 25%;
    width: 286px;
    height: 540px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
  }
}

.advantages__slogan {
  margin: 0;
  font-size: @fs-main-heading;
  font-weight: @fw-light;
  line-height: 28px;
  color: @main-color;
  text-align: center;
}

.advantages__slogan:first-of-type {
  margin-bottom: 30px;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__slogan:first-of-type {
    margin-bottom: 0;
  }
}

.advantages__slogan--narrow {
  margin-bottom: 38px;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__slogan {
    font-size: 40px;
    font-weight: @fw-light;
    line-height: 47px;
  }

  .advantages__slogan--narrow {
    padding: 0 20px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .advantages__slogan {
    font-size: 50px;
  }
}

.advantages__list {
  .lists-mixin();
  min-height: 753px;
  padding-top: 48px;
  text-align: center;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 435px;
    padding-top: 24px;
    text-align: left;
  }

  .advantages__item {
    width: 310px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .advantages__list {
    display: flex;
    flex-direction: row;
  }

  .advantages__item {
    width: auto;
  }
}

.advantages__title {
  .heading-reset();
  margin-bottom: 12px;
  font-size: @fs-subtitle;
  font-weight: @fw-bold;
  line-height: @lh-normal;
  color: @caption-color;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__title {
    .heading-reset();
    margin-bottom: 12px;
  }
}

.advantages__description {
  .paragraph-reset();
  margin-bottom: 31px;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  color: @main-color;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__description {
    .paragraph-reset();
    margin-bottom: 34px;
  }
}

@media (min-width: @breakpoint-tablet) {
  .advantages__desc-newline {
    margin-right: 32px;
  }
}


.advantages__promo {
  display: none;
}

@media (min-width: @breakpoint-tablet) {
  .advantages__promo {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;
    background-color: @base-bg-color;
  }

  .advantages__promo-container {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: auto;
    margin-top: 80px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .advantages__promo {
    background-color: transparent;
  }

  .advantages__promo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 525px;
    margin: 0 auto;
  }
}

.advantages__promo-caption {
  font-size: 30px;
  font-weight: @fw-bold;
  line-height: 36px;
  color: @caption-color;
}

.advantages__promo-text {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  color: @main-color;
}

.advantages__promo-link {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  color: @accent-color;
  border-bottom: 1px solid @accent-color;
}
