.advantages__inner {
  padding-top: 46px;
}

.advantages__slogan {
  margin: 0;
  font-size: @fs-main-heading;
  font-weight: @fw-light;
  color: @base-grey;
}

.advantages__list-wrapper {
  width: 100%;
  margin-top: -20px;
  padding-top: 120px;
  padding-bottom: 70px;
  background-image: url("../img/bg-grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__list {
  .lists;
}


.advantages__title {
  font-size: @fs-subtitle;
  font-weight: @fw-bold;
  line-height: @lh-normal;
  color: @black;
}

.advantages__description {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  color: @base-grey;
}
