.contest__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: @breakpoint-desktop) {
  .contest__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
  }
}

.contest__form-lead {
  .paragraph-reset();
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
  text-align: center;
}

@media (min-width: @breakpoint-desktop) {
  .contest__form-lead {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.contest__form-lead--hidden {
  display: none;
}

@media (min-width: @breakpoint-tablet) {
  .contest__form-lead--hidden {
    display: inline-block;
  }
}

.contest__wrapper {
  margin-bottom: 30px;
}

@media (min-width: @breakpoint-desktop) {
  .contest__wrapper--name,
  .contest__wrapper--apps {
    width: 455px;
    display: flex;
    box-sizing: border-box;
  }

  .contest__wrapper--apps {
    margin-left: auto;
  }
}

.contest__wrapper--filters,
.contest__wrapper--apps {
  background-color: @block-bg-color;
}

.contest__fields {
  margin: 0;
  border: none;
}

@media (min-width: @breakpoint-tablet) {
  .contest__fields {
    padding: 40px 60px;
    border: @border-input @border-color;
  }

  .contest__fields--primary {
    padding: 0;
    border: none;
  }

  .contest__fields--contacts {
    padding: 50px 60px;
    box-sizing: border-box;
  }
}

.contest__wrapper--lead {
  order: 1;
}

.contest__wrapper--name {
  order: 2;
}

.contest__wrapper--filters {
  order: 3;
}

.contest__wrapper--contacts {
  order: 4;
}

.contest__contacts-item--first {
  order: 1;
}

.contest__contacts-item--second {
  order: 2;
}

.contest__contacts-item--third {
  order: 3;
}

.contest__contacts-item--last {
  order: 4;
}

@media (min-width: @breakpoint-tablet) {
  .contest__contacts-list {
    display: flex;
    flex-direction: column;
  }

  .contest__contacts-item--second {
    order: -1;
  }

  .contest__contacts-item--last {
    order: 1;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contest__contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__contacts-item {
    width: 371px;
    box-sizing: border-box;
  }

  .contest__contacts-item--last {
    order: 0;
  }
}

.contest__wrapper--apps {
  order: 5;
}

.contest__wrapper--comments {
  order: 6;
}

.contest__wrapper--submit {
  order: 7;
}

@media (min-width: @breakpoint-tablet) {
  .contest__wrapper--filters {
    order: 5;
    background-color: @base-bg-color;
  }

  .contest__wrapper--apps {
    order: 3;
    background-color: @base-bg-color;
  }
}

.contest__filters {
  display: flex;
  flex-direction: column;
}

.contest__filters-item--first {
  order: 1;
}

.contest__filters-item--second {
  order: 2;
}

.contest__filters-item--third {
  order: 3;
}

.contest__filters-item--fourth {
  order: 4;
}

.contest__filters-item--fivth {
  order: 5;
}

.contest__filters-item--sixth {
  order: 6;
}

@media (min-width: @breakpoint-desktop) {
  .contest__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__filters-item--third {
    order: 2;
  }

  .contest__filters-item--fivth {
    order: 3;
  }

  .contest__filters-item--second {
    order: 4;
  }

  .contest__filters-item--fourth {
    order: 5;
  }
}

.contest__legend {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-small;
  text-transform: uppercase;
  color: @accent-color;
  text-align: center;
}

@media (min-width: @breakpoint-desktop) {
  .contest__legend--apps {
    margin: 0 -31px;
    padding: 0 25px;
  }
}

.contest__legend--hidden {
  display: none;
}

@media (min-width: @breakpoint-tablet) {
  .contest__legend--hidden {
    display: block;
  }
}

.contest__filters,
.contest__name-list,
.contest__contacts-list {
  .lists-mixin();
}

@media (min-width: @breakpoint-tablet) {
  .contest__name-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  .contest__name-item:last-of-type {
    margin-bottom: 0;
  }
}

.contest__input[type="text"],
.contest__input[type="tel"],
.contest__input[type="email"] {
  width: 100%;
  padding: 20px;
  border: @border-input @border-color;
  box-sizing: border-box;
}

.contest__input::placeholder {
  font-family: @font-family;
  font-size: @fs-subtitle;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
}

.contest__textarea {
  width: 267px;
  max-width: 267px;
  padding: 15px;
  font-family: @font-family;
  font-size: @fs-subtitle;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
  border: @border-input @border-color;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-tablet) {
  .contest__textarea {
    width: 496px;
    max-width: 496px;
    min-height: 196px;
    border: @border-input @border-color;
    box-sizing: border-box;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contest__textarea {
    width: 816px;
    max-width: 816px;
    min-height: 124px;
    border: @border-input @border-color;
    box-sizing: border-box;
  }
}

.contest__textarea::placeholder {
  font-family: @font-family;
  font-size: @fs-subtitle;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
}

.contest__label {
  font-size: @fs-subtitle;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
}

@media (min-width: @breakpoint-tablet) {
  .contest__label {
    margin-right: 22px;
  }
}

.contest__label--accent {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  text-transform: uppercase;
  color: @accent-color;
}

@media (min-width: @breakpoint-tablet) {
  .contest__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contest__form-button {
  .buttons-mixin();
  display: block;
  margin: 0 auto;
  color: @secondary-color;
  text-transform: uppercase;
  background-color: @button-bg-color;
  border: none;
}

@media (min-width: @breakpoint-tablet) {
  .contest__form-button {
    margin: 0;
  }
}

.contest__form-notice {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  text-transform: uppercase;
  color: @main-color;
  text-align: center;

  .contest__form-notice-star {
    color: @accent-color;
  }
}

.contest__form-notice-hidden {
  display: none;
}

@media (min-width: @breakpoint-desktop) {
  .contest__form-notice-hidden {
    display: inline-block;
  }
}
