.contacts {
  background-color: @base-bg-color;
}

.contacts__list-container {
  padding-top: 42px;
  padding-bottom: 13px;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__list-container {
    padding-top: 50px;
    padding-bottom: 28px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__list-container {
    padding-top: 65px;
    padding-bottom: 0;
  }
}

.contacts__heading {
  .heading-reset();
  margin-bottom: 38px;
  font-size: @fs-main-heading;
  font-weight: @fw-light;
  line-height: 28px;
  color: @main-color;
  text-align: center;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__heading {
    .heading-reset();
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: @fw-light;
    line-height: 45px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__heading {
    .heading-reset();
    margin-bottom: 58px;
    font-size: 50px;
    font-weight: @fw-light;
    line-height: 60px;
  }
}

.contacts__list {
  .lists-mixin();
}

@media (min-width: @breakpoint-tablet) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contacts__item {
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__item {
    margin-bottom: 47px;
  }

  .contacts__item:first-child {
    margin-left: 19px;
  }

  .contacts__item--last {
    margin-left: 41px;
  }

  .contacts__item:last-child {
    margin-bottom: 0;
  }
}


@media (min-width: @breakpoint-desktop) {
  .contacts__item {
    width: 285px;
    margin: 0;
    margin-right: 20px;
  }

  .contacts__item:first-child {
    margin-left: 0;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__item--last {
    order: 3;
    margin-right: 0;
  }
}

.contacts__item-title {
  .heading-reset();
  margin-bottom: 8px;
  font-size: @fs-subtitle;
  line-height: @lh-small;
  font-weight: @fw-bold;
  color: @main-color;
}

@media (min-width: @breakpoint-desktop) {
  .contacts__item-title {
    margin-bottom: 26px;
  }
}

.contacts__item-tel {
  .contacts-links-mixin();
  line-height: @lh-normal;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__item-tel {
    line-height: @lh-big;
  }
}

.contacts__item-email {
  .contacts-links-mixin();
  line-height: @lh-normal;

  &:hover,
  &:focus {
    color: @main-color;
  }

  &:active {
    color: rgba(@main-color, 0.3);
  }
}

@media (min-width: @breakpoint-tablet) {
  .contacts__item-email {
    line-height: @lh-big;
  }
}

.contacts__item-address {
  .contacts-links-mixin();
  line-height: @lh-normal;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__item-address {
    display: block;
    width: 290px;
    line-height: @lh-big;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__item-address {
    width: auto;
  }
}

.contacts__map {
  position: relative;
  overflow-x: hidden;

  @media (min-width: @breakpoint-tablet) {
    overflow-x: hidden;
  }

  @media (min-width: @breakpoint-desktop) {
    overflow-x: hidden;
  }
}


.contacts__map::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 100%;
  min-height: 40px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__map::before {
    min-height: 67px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__map::before {
    min-height: 125px;
    transform: scaleX(1.2);
  }
}

.contacts__map-body {
  width: 100%;
  min-height: 220px;
  margin-bottom: -7px;
  border: none;
}

@media (min-width: @breakpoint-tablet) {
  .contacts__map-body {
    min-height: 373px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .contacts__map-body {
    min-height: 521px;
  }
}

.contacts__map-image {
  display: none;
}
