.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: @base-bg-color;
}

.gallery__lead {
  .paragraph-reset();
  text-align: center;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
}

@media (min-width: @breakpoint-tablet) {
  .gallery__lead {
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 80px;
  }
}

.gallery__item {
  margin-bottom: 20px;
}


@media (min-width: @breakpoint-tablet) {
  .gallery__item {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
  }

  .gallery__item--full {
    width: 100%;
  }
}

.gallery-item-image--full {
  width: 100%;
}

.gallery__item-image {
  margin-bottom: -7px;
}

@media (min-width: @breakpoint-tablet) {
  .gallery__item-image {
    width: 300px;
  }

  .gallery-item-image--full {
    width: 100%;
  }
}

.gallery__item-desc {
  flex-grow: 1;
  padding: 20px 18px;
  background-color: @block-bg-color;
}

.gallery__item-review {
  margin: 0;
}

@media (min-width: @breakpoint-tablet) {
  .gallery__item-review--full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
  }

  .gallery__item-time--full {
    margin-left: 5px;
  }
}

@media (min-width: @breakpoint-tablet) {
  .gallery__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.gallery__item-author {
  font-size: @fs-base;
  font-weight: @fw-bold;
  font-style: normal;
  line-height: @lh-normal;
  color: @main-color;
}

.gallery__item-time {
  font-size: @fs-small-text;
  font-weight: @fw-light;
  text-transform: uppercase;
}

.gallery__item-comment {
  .paragraph-reset();
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
}

@media (min-width: @breakpoint-tablet) {
  .gallery__item-comment--full {
    order: 1;
  }
}

.gallery__item-reactions {
  color: @accent-color;
  font-size: @fs-small-text;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  text-transform: uppercase;
}
