.gallery {
  margin-top: -291px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: @white;
}

.gallery__lead {
  margin: 0;
  margin-bottom: 49px;
  padding-left: 38px;
  padding-right: 36px;
  text-align: center;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @base-grey;
}

.gallery__item {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.gallery__item-desc {
  background-color: @bg-grey;
}

.gallery__item-review {
  margin: 0;
}

.gallery__item-author {
  font-size: @fs-base;
  font-weight: @fw-bold;
  font-style: normal;
  line-height: @lh-normal;
  color: @base-grey;
}

.gallery__item-time {
  font-size: @fs-small-text;
  font-weight: @fw-light;
  text-transform: uppercase;
}

.gallery__item-comment {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-normal;
}

.gallery__item-reactions {
  color: @pink;
  font-size: @fs-small-text;
  font-weight: @fw-regular;
  line-height: @lh-normal;
  text-transform: uppercase;
}
