.header {
  background-color: @base-grey;
}

.header__logo-wrapper {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 18px;
  box-shadow: 0 1px @black;
}

.header__logo-image {
  width: 75px;
  height: 22px;
}

.header__nav-list {
  .lists;
}

.header__nav-item {
  padding: 16px;
  box-shadow:
    0 1px 0 @black,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.header__nav-link {
  .nav-links;
}
