.header {
  background-color: @secondary-bg-color;
}

.header__logo-wrapper {
  padding-top: 22px;
  padding-bottom: 18px;
}

.header__logo-image {
  width: 75px;
  height: 22px;
  color: @secondary-color;
  fill: currentColor;
}

@media (min-width: @breakpoint-tablet) {
  .header__logo-wrapper {
    min-height: 110px;
  }

  .header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .header__logo-image {
    width: 147px;
    height: 40px;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 670px;
  }

  .header__nav-item:last-of-type {
    padding-right: 0;
  }
}

.header__nav-list {
  .lists-mixin();
}

.header__nav-item {
  padding: 16px;
  text-align: center;
}

.header__nav-link {
  .nav-links-mixin();
}
