.intro__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 56px;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-tablet) {
  .intro__inner {
    align-items: flex-start;
    padding-top: 70px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .intro__inner {
    padding-top: 73px;
  }
}

.intro__inner--index {
  padding-top: 24px;
}

@media (min-width: @breakpoint-tablet) {
  .intro__inner--index {
    padding-top: 93px;
    padding-bottom: 164px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .intro__inner--index {
    padding-top: 109px;
    padding-bottom: 93px;
  }
}

.intro__heading {
  .intro-headings-mixin();
  text-align: center;
  line-height: 28px;
}

.intro__heading--index {
  min-height: 350px;
  margin-bottom: 21px;
}

@media (min-width: @breakpoint-tablet) {
  .intro__heading--index {
    width: 205px;
    min-height: auto;
    margin-left: 46px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: @fw-light;
    line-height: 48px;
    text-align: center;
  }
}

@media (min-width: @breakpoint-desktop) {
  .intro__heading--index {
    width: 250px;
    margin-left: 26px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
  }
}

.intro__app {
  min-height: 216px;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-tablet) {
  .intro__app {
    margin-top: 0;
    width: 300px;
  }
}

.intro__app-download {
  .buttons-mixin();
  display: block;
  padding: 15px 10px;
  margin-bottom: 20px;
  color: @secondary-color;
  background-color: transparent;
  border: @border-button @base-bg-color;
  border-radius: @border-radius;

  &:hover,
  &:focus {
    color: @accent-color;
    background-color: @base-bg-color;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
  }

  &:active {
    color: rgba(@accent-color, 0.3);
    background-color: @base-bg-color;
  }
}

@media (min-width: @breakpoint-desktop) {
  .intro__app-download {
    margin-bottom: 178px;
    font-size: 21px;
    font-weight: @fw-bold;
    line-height: 21px;
  }
}

.intro__app-list {
  .lists-mixin();
}

.intro__app-link {
  display: block;
}

.intro__app-desc {
  .paragraph-reset();
  font-size: @fs-base;
  font-weight: @fw-light;
  line-height: @lh-normal;
  color: @secondary-color;
}

@media (min-width: @breakpoint-tablet) {
  .intro__app-desc {
    font-size: @fs-subtitle;
    font-weight: @fw-light;
  }
}
