.photoeditor__lead-wrapper {
  padding-top: 43px;
  padding-bottom: 42px;
  background-color: @base-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__lead-wrapper {
    padding-top: 45px;
    padding-bottom: 69px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__lead-wrapper {
    padding-top: 39px;
    padding-bottom: 9px;
  }
}

.photoeditor__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: @block-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__wrapper {
    padding-top: 57px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__wrapper--base-bg {
    background-color: @base-bg-color;
  }
}


.photoeditor__lead {
  .paragraph-reset();
  width: 280px;
  padding: 0 13px;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  text-align: center;
  color: @main-color;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__lead {
    .paragraph-reset();
    width: auto;
    font-size: 18px;
    text-align: center;
  }
}

.photoeditor__form {
  background-color: @block-bg-color;
}


@media (min-width: @breakpoint-tablet) {
  .photoeditor__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form {
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 80px;
  }
}


@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 410px;
  }
}

.photoeditor__form-filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 107px;
  padding-bottom: 46px;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 275px;
    padding-top: 0;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-filters {
    padding-top: 7px;
  }
}

.photoeditor__form-filters::after {
  position: absolute;
  bottom: 23px;
  left: -20px;
  content: "";
  width: 320px;
  height: 1px;
  background-color: rgba(@secondary-bg-color, 0.1);
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-filters::after {
    display: none;
  }
}

.photoeditor__filters-list {
  .lists-mixin();
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filters-list {
    display: flex;
    flex-direction: column;
    width: 30px;
  }
}

.photoeditor__filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


.photoeditor__ranges-list {
  .lists-mixin();
}


.photoeditor__filter-range {
  display: none;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filter-range {
    display: block;
  }
}

.photoeditor__filter-range--visible {
  display: block;
}


.photoeditor__form-actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-actions {
    width: 260px;
    margin-top: auto;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 410px;
    margin-top: auto;
  }
}

.photoeditor__action-button {
  .buttons-mixin();
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__action-button {
    display: block;
    width: 183px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
  }
}

.photoeditor__action-button--submit {
  margin-bottom: 13px;
  color: @accent-color;
  border: @border-button @accent-color;
  border-radius: @border-radius;

  &:hover,
  &:focus {
    color: @secondary-color;
    background-color: @accent-color;
  }

  &:active {
    color: rgba(@secondary-color, 0.3);
  }
}

.photoeditor__action-button--reset {
  color: rgba(@main-color, 0.1);
  border: @border-button rgba(@main-color, 0.1);
  border-radius: @border-radius;

  &:hover,
  &:focus {
    color: rgba(@main-color, 0.3);
    border: @border-button rgba(@main-color, 0.3);
  }

  &:active {
    color: rgba(@secondary-color, 0.3);
    background-color: rgba(@main-color, 0.3);
    border: @border-button rgba(@main-color, 0);
  }
}
