.photoeditor__lead-wrapper {
  padding-top: 43px;
  padding-bottom: 42px;
  background-color: @base-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__lead-wrapper {
    padding-top: 45px;
    padding-bottom: 69px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__lead-wrapper {
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

.photoeditor__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: @block-bg-color;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__wrapper {
    padding-top: 57px;
    padding-bottom: 47px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__wrapper {
    padding-bottom: 0;
  }

  .photoeditor__wrapper--base-bg {
    background-color: @base-bg-color;
  }
}


.photoeditor__lead {
  .paragraph-reset();
  width: 280px;
  padding: 0 13px;
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  text-align: center;
  color: @main-color;
  box-sizing: border-box;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__lead {
    .paragraph-reset();
    width: auto;
    font-size: 18px;
    text-align: center;
  }
}

.photoeditor__form {
  background-color: @block-bg-color;
}


@media (min-width: @breakpoint-tablet) {
  .photoeditor__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form {
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
}


@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin-top: -4px;
  }
}

.photoeditor__form-filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding-top: 33px;
  padding-bottom: 46px;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 275px;
    margin-bottom: 43px;
    padding-top: 7px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-filters {
    margin-bottom: 113px;
    padding-top: 0;
  }
}

@media (max-width: @mobile-width-only) {
  .photoeditor__form-filters::after {
    position: absolute;
    bottom: -21px;
    left: -20px;
    content: "";
    width: 320px;
    height: 1px;
    background-color: rgba(@secondary-bg-color, 0.1);
  }
}


.photoeditor__filters-list {
  .lists-mixin();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 212px;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filters-list {
    display: flex;
    flex-direction: column;
    width: 27px;
  }
}

.photoeditor__filters-item:nth-child(2) {
  margin-left: -9px;
}

.photoeditor__filters-item {
  position: relative;
}

.photoeditor__filters-item:nth-child(3) {
  margin-right: 12px;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filters-item:nth-child(1) {
    margin-bottom: 42px;
  }

  .photoeditor__filters-item:nth-child(2) {
    margin-left: 0;
    margin-bottom: 42px;
  }

  .photoeditor__filters-item:nth-child(3) {
    margin-top: -1px;
    margin-right: -4px;
  }

  .photoeditor__filters-item::after {
    position: absolute;
    left: -2px;
    content: "";
    width: 275px;
    height: 1px;
    background-color: rgba(@secondary-bg-color, 0.1);
    background-repeat: no-repeat;
  }

  .photoeditor__filters-item:nth-child(1)::after {
    top: 48px;
  }

  .photoeditor__filters-item:nth-child(2)::after {
    top: 47px;
  }

  .photoeditor__filters-item:nth-child(3)::after {
    top: 44px;
    left: -7px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__filters-item:nth-child(1) {
    margin-bottom: 20px;
  }

  .photoeditor__filters-item:nth-child(2) {
    margin-bottom: 27px;
  }

  .photoeditor__filters-item::after {
    position: absolute;
    width: 410px;
  }

  .photoeditor__filters-item:nth-child(1)::after {
    top: 59px;
  }

  .photoeditor__filters-item:nth-child(2)::after {
    top: 57px;
    left: 0;
  }

  .photoeditor__filters-item:nth-child(3)::after {
    top: 51px;
    left: -6px;
  }
}

.photoeditor__filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.photoeditor__filter + .photoeditor__filter-label {
  color: rgba(@secondary-bg-color, 0.3);
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filter + .photoeditor__filter-label {
    color: @accent-color;
  }
}

.photoeditor__filter:checked + .photoeditor__filter-label {
  color: @accent-color;
}

.photoeditor__filter:hover + .photoeditor__filter-label {
  color: rgba(@secondary-bg-color, 0.5);
}

.photoeditor__filter:active + .photoeditor__filter-label,
.photoeditor__filter:focus + .photoeditor__filter-label {
  color: @accent-color;
}


.photoeditor__ranges-list {
  .lists-mixin();
}

.photoeditor__ranges-item {
  position: relative;
}


.photoeditor__filter-range {
  display: none;
}


.photoeditor__filter-range + .photoeditor__filter-rangeLabel::before {
  position: absolute;
  display: block;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 242px;
  height: 2px;
  background-color: #283645;
  background-repeat: no-repeat;
  cursor: pointer;
}


.photoeditor__filter-range + .photoeditor__filter-rangeLabel::after {
  position: absolute;
  top: 24px;
  right: -85px;
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid @accent-color;
  background-color: @block-bg-color;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 50%;
}

.photoeditor__filter-range--active + .photoeditor__filter-rangeLabel::after,
.photoeditor__filter-range:focus + .photoeditor__filter-rangeLabel::after {
  background-color: @accent-color;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__filter-range + .photoeditor__filter-rangeLabel::before {
    position: absolute;
    left: 129px;
    content: "";
    display: block;
    width: 202px;
    height: 2px;
    background-color: @secondary-bg-color;
    background-repeat: no-repeat;
  }

  .photoeditor__filter-range--crop + .photoeditor__filter-rangeLabel::before {
    top: -74px;
  }

  .photoeditor__filter-range--crop + .photoeditor__filter-rangeLabel::after {
    top: -80px;
    right: -188px;
  }

  .photoeditor__filter-range--fill + .photoeditor__filter-rangeLabel::before {
    top: -1px;
  }

  .photoeditor__filter-range--fill + .photoeditor__filter-rangeLabel::after {
    top: -7px;
    right: -67px;
  }

  .photoeditor__filter-range--brightness + .photoeditor__filter-rangeLabel::before {
    top: 69px;
  }

  .photoeditor__filter-range--brightness + .photoeditor__filter-rangeLabel::after {
    top: 63px;
    right: -138px;
  }

  .photoeditor__filter-range--active + .photoeditor__filter-rangeLabel::after {
    border: 2px solid @accent-color;
    background-color: @block-bg-color;
  }

  .photoeditor__filter-range:focus + .photoeditor__filter-rangeLabel::after,
  .photoeditor__filter-range:active + .photoeditor__filter-rangeLabel::after {
    background-color: @accent-color;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__filter-range + .photoeditor__filter-rangeLabel::before {
    left: 209px;
    width: 288px;
  }

  .photoeditor__filter-range--crop + .photoeditor__filter-rangeLabel::before {
    top: -72px;
  }

  .photoeditor__filter-range--crop + .photoeditor__filter-rangeLabel::after {
    top: -78px;
    right: -150px;
  }

  .photoeditor__filter-range--fill + .photoeditor__filter-rangeLabel::before {
    top: 1px;
  }

  .photoeditor__filter-range--fill + .photoeditor__filter-rangeLabel::after {
    top: -5px;
    left: 312px;
  }

  .photoeditor__filter-range--brightness + .photoeditor__filter-rangeLabel::before {
    top: 71px;
  }

  .photoeditor__filter-range--brightness + .photoeditor__filter-rangeLabel::after {
    top: 65px;
    right: -239px;
  }
}


@media (min-width: @breakpoint-tablet) and (max-width: @mobile-and-tablet-width-only) {
  .photoeditor__filter-icon {
    width: 24px;
    height: 25px;
  }

  .photoeditor__filter-icon--brightness {
    width: 18px;
    height: 16px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__filter-icon--brightness {
    margin-right: 8px;
  }

  .photoeditor__filter-icon--crop {
    margin-left: -4px;
  }
}

.photoeditor__form-actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__form-actions {
    width: 260px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 410px;
  }
}

.photoeditor__action-button {
  .buttons-mixin();
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 16px;
  background-color: transparent;
  border: none;
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__action-button {
    display: block;
    width: 183px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: center;
    box-sizing: border-box;
  }
}

.photoeditor__action-button--submit {
  margin-bottom: 13px;
  color: @accent-color;
  border: @border-button @accent-color;
  border-radius: @border-radius;

  &:hover,
  &:focus {
    color: @secondary-color;
    background-color: @accent-color;
  }

  &:active {
    color: rgba(@secondary-color, 0.3);
  }
}

.photoeditor__action-button--reset {
  color: rgba(@main-color, 0.1);
  border: @border-button rgba(@main-color, 0.1);
  border-radius: @border-radius;

  &:hover,
  &:focus {
    color: rgba(@main-color, 0.3);
    border: @border-button rgba(@main-color, 0.3);
  }

  &:active {
    color: rgba(@secondary-color, 0.3);
    background-color: rgba(@main-color, 0.3);
    border: @border-button rgba(@main-color, 0);
  }
}

@media (min-width: @breakpoint-tablet) {
  .photoeditor__action-button--submit {
    margin-bottom: 24px;
  }
}

@media (min-width: @breakpoint-desktop) {
  .photoeditor__action-button--submit {
    margin-bottom: 0;
  }
}
