.tariffs {
  position: relative;
  padding-top: 64px;
  padding-bottom: 18px;
  background-color: @block-bg-color;
}


.tariffs::before {
  position: absolute;
  top: -29px;
  content: "";
  width: 100%;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 29px solid @block-bg-color;
}


.tariffs__list {
  border-collapse: collapse;
}

.tariffs__head {
  background-color: @secondary-bg-color;
}

.tariffs__value-name {
  font-size: @fs-subtitle;
  font-weight: @fw-bold;
  line-height: @lh-big;
  color: @secondary-color;
  text-transform: uppercase;
}

.tariffs__value-price {
  font-size: @fs-main-heading;
  font-weight: @fw-light;
  line-height: @lh-big;
  color: @secondary-color;
}

.tariffs__feature {
  font-size: @fs-base;
  font-weight: @fw-regular;
  line-height: @lh-big;
  color: @main-color;
  text-transform: uppercase;
}

.tariffs__toggles {
  .lists-mixin();
}
